<% include ./partials/header %>
<main>
  <section id="section1">
    <h2>What's your name?</h2>
    <form id="form-join" action="">
      <label for="username">Your name: </label>
      <input id="username" type="text" />
      <input type="submit" value="join" />
    </form>
  </section>
  <section id="section2" class="hidden">
    <h2>Participants (4 needed)</h2>
    <ul id="participants-list"></ul>
    <button id="ready-button">I'm ready</button>
  </section>
  <section id="section3" class="hidden">
    <h2>
      You have
      <span class="countdown-minutes">10</span>:<span class="countdown-seconds"
        >00</span
      >
      more minutes to find out who's who.
    </h2>
    <h3>When the time is up, we will see who got it right.</h3>
    <div class="chat-container">
      <div class="own-chat">
        <h3 id="your-name">Your name</h3>
        <ul id="own-messages"></ul>
        <form id="form-message" action="">
          <label for="message">Message:</label>
          <input type="text" id="message" name="message" />
          <input type="submit" value="send" />
        </form>
      </div>
      <div class="right-part">
        <div class="their-chats">
          <div class="other-chat">
            <h3>A</h3>
            <ul class="other-messages"></ul>
          </div>
          <div class="other-chat">
            <h3>B</h3>
            <ul class="other-messages"></ul>
          </div>
          <div class="other-chat">
            <h3>C</h3>
            <ul class="other-messages"></ul>
          </div>
        </div>
        <form id="form-answers" action=""></form>
      </div>
    </div>
  </section>
  <section class="hidden">
    <h2 id="winner"></h2>
    <ul id="scores"></ul>
  </section>
</main>

<script src="/socket.io/socket.io.js"></script>
<script type="module" src="scripts/sockets/index.js"></script>

<% include ./partials/footer %>
